'atom-text-editor.vim-mode-plus.insert-mode':
  'ctrl-c': 'core:copy'

'atom-text-editor.vim-mode-plus:not(.normal-mode)':
  'f j': 'vim-mode-plus:activate-normal-mode'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  # Arrow keys times 10
  'up': 'keystroke 1 0 g k'
  'down': 'keystroke 1 0 g j'
  'right': 'keystroke 1 0 g l'
  'left': 'keystroke 1 0 g h'

  # Attempt a thing here
  'space d': 'keystroke " _ d'
  'space D': 'keystroke " _ D'
  'space c': 'keystroke " _ c'
  'space C': 'keystroke " _ C'
